<div id="searchModal" class="search-modal">

  <div class="search-inner">

    <button id="closeSearch">

      ×

    </button>

    <form action="/search">

      <input
      type="search"
      name="q"
      placeholder="Search products...">

    </form>

  </div>

</div>