{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

<section
  class="announcement-bar"
  style="
    background: {{ section.settings.background }};
    color: {{ section.settings.text_color }};
  "
>

  <div class="announcement-bar__container">

    <div class="announcement-bar__inner">

      <div class="announcement-bar__text">

        {{ section.settings.text }}

      </div>

    </div>

  </div>

</section>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Announcement Text",
      "default": "✦ Rooted In Culture • Worn Every Day ✦"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#676A26"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#F0EDD0"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}